{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>

    <link href="{% static 'css/googleFonts.css' %}" rel="stylesheet" type="text/css">
  	<link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet" type="text/css">
  	<link href="{% static 'css/landing.css' %}" rel="stylesheet" type="text/css">
  	<link href="{% static 'css/homepage.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/honeycomb.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/quiz.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/recommendation.css' %}" rel="stylesheet" type="text/css">    
    <link href="{% static 'css/meter.css' %}" rel="stylesheet" type="text/css">    
</head>
<body>
<header>
  <section class="header-content">
    <h1 class="header-title animate-pop-in">Trouble choosing electives?</h1>
    <h3 class="header-subtitle animate-pop-in">We're here to help.</h3>
    <button class="header-button btn animate-pop-in" onclick="scrollUpLanding()">Get started</button>
  </section>
</header>
<section id="app">
<section class="home">
<div class="col-md-5 col-md-offset-5 startQuiz" onclick="changeBack()">
  <span>START QUIZ</span>
</div>
<section class='hexa1'>  
    <article>
      <figure>
        <h2 id="hexaIcon1"></h2>
      </figure>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </article>
    <article>
      <figure>
        <h2 id="hexaIcon2"></h2>
      </figure>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </article>
    <article>
      <figure>
        <h2 id="hexaIcon3"></h2>
      </figure>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </article>
    <article>
      <figure>
        <h2 id="hexaIcon4"></h2>
      </figure>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </article>
    <article>
      <figure>
      </figure> 
    </article>
    <article>
    <figure>
      <h2 id="hexaIcon5"></h2>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </figure>
  </article>
    <article>
    <figure>

    </figure>
  </article>
</section>
<section class='hexa2'>  
    <article>
      <figure>
      </figure>
    </article>
    <article>
      <figure>
        <h2 id="hexaIcon6"></h2>
      </figure>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </article>
    <article>
      <figure>
      </figure>
    </article>
    <article>
      <figure>
        <h2 id="hexaIcon7"></h2>
      </figure>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </article>
    <article>
      <figure>
      <h2 id="hexaIcon8"></h2>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
      </figure> 
    </article>
    <article>
    <figure>
      <h2 id="hexaIcon9"></h2>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </figure>
  </article>
    <article>
    <figure>
      <h2 id="hexaIcon10"></h2>
      <img id='hexagon' src="{% static 'images/hexaBlackImage.jpg' %}" />
    </figure>
  </article>
</section>

<section id="studentDetailsDiv">
<student-details inline-template ref="student_details">
<form>
  <fieldset class="col-md-8 usnDiv">
  <span>ENTER USN</span>
  <input type="text" name="usn" placeholder="USN" v-model="studentDetails.usn" />
  <span v-cloak v-if="studentDetails.usn!=null && studentDetails.usn.length!=12" class="text-danger">* Enter valid USN</span><br>
  <span>SEMESTER</span>
  <input type="text" name="sem" placeholder="SEMESTER" value="6" id="semester" disabled />
  <input type="button" name="next" class="usnNext next btn" value="Next" :disabled="studentDetails.usn==null || studentDetails.usn.length!=12"/>
  </fieldset>
  <fieldset class="col-md-8 specialisation">
  <span>Select Your Desired Specialisation</span><br>
  <input type="radio" name="Specialisation" value="AlgoAndComp" checked> Algorithms and Computing Models<br>
  <input type="radio" name="Specialisation" value="DataScience"> Data Science<br>
  <input type="radio" name="Specialisation" value="systemAndCore"> System and Core Computing<br>
  <input type="radio" name="Specialisation" value="none"> None
  <input type="button" name="next" class="specNext next btn" value="Next"/>
  </fieldset>
  <elective-list inline-template refs="elective_list">
  <fieldset class="col-md-8 prevElectives">
  <span>Select Your Previous Electives</span><br>
	<div class="row sem6">
		<div class="col-md-2 elective1">
			<span>Elective 1</span><br/>
			<ul style="list-style-type: none;">
				<li v-for="elec in Elective1">
          <input type="checkbox" name="">[[elec.cname]]<br>
        <!-- [[elec.id]] --> 
      </li>
			</ul>
		</div>
		<div class="col-md-2 elective2">
			<span>Elective 2</span><br/>
		</div>
	</div>
	<input type="button" name="next" class="elecNext next btn" value="Next"/>
  </fieldset>
  </elective-list>
  <fieldset class="col-md-8 interests">
  <span>Select Your Interests</span><br>
	<input type="button" name="next" class="interestNext next btn" value="Next"/>
  </fieldset>
</form>
</student-details>
</section>
</section>
<section class="col-md-8 weightage">
  <div id="meterwrapper">
    <svg id="meter">
        <circle id="outline_curves" class="circular outline"  cx="50%" cy="50%">
        </circle>
        <circle id="low" class="circular range" cx="50%" cy="50%" stroke="#FDE47F">
        </circle>
        <circle id="avg" class="circular range" cx="50%" cy="50%" stroke="#7CCCE5">
        </circle>
        <circle id="high" class="circular range" cx="50%" cy="50%" stroke="#E04644">
        </circle>
        <circle id="mask" class="circular" cx="50%" cy="50%" >
        </circle>
        <circle id="outline_ends" class="circular outline" cx="50%" cy="50%">
        </circle>
    </svg>
    <img id="meter_needle" src="{% static 'images/svg-meter-gauge-needle.svg' %}" alt="">
    <input id="slider" name="performance" type="range" min="0" max="100" value="0" /> 
    <h3 id="meterHead">Performance</h3>
    <label id="lbl" id="value" for="performance">0%</label>
    </div>
    <div id="meterwrapper1">
    <svg id="meter1">
        <circle id="outline_curves1" class="circular1 outline1"  cx="50%" cy="50%">
        </circle>
        <circle id="low1" class="circular1 range1" cx="50%" cy="50%" stroke="#FDE47F">
        </circle>
        <circle id="avg1" class="circular1 range1" cx="50%" cy="50%" stroke="#7CCCE5">
        </circle>
        <circle id="high1" class="circular1 range1" cx="50%" cy="50%" stroke="#E04644">
        </circle>
        <circle id="mask1" class="circular1" cx="50%" cy="50%" >
        </circle>
        <circle id="outline_ends1" class="circular1 outline1" cx="50%" cy="50%">
        </circle>
    </svg>
    <img id="meter_needle1" src="{% static 'images/svg-meter-gauge-needle.svg' %}" alt="">
    <input id="slider1" name="Interests" type="range" min="0" max="100" value="0" /> 
    <h3 id="meterHead1">Interests</h3>
    <label id="lbl1" id="value" for="Intersts">0%</label>
    </div>
    <div id="meterwrapper2">
    <svg id="meter2">
        <circle id="outline_curves2" class="circular2 outline2"  cx="50%" cy="50%">
        </circle>
        <circle id="low2" class="circular2 range2" cx="50%" cy="50%" stroke="#FDE47F">
        </circle>
        <circle id="avg2" class="circular2 range2" cx="50%" cy="50%" stroke="#7CCCE5">
        </circle>
        <circle id="high2" class="circular2 range2" cx="50%" cy="50%" stroke="#E04644">
        </circle>
        <circle id="mask2" class="circular2" cx="50%" cy="50%" >
        </circle>
        <circle id="outline_ends2" class="circular2 outline2" cx="50%" cy="50%">
        </circle>
    </svg>
    <img id="meter_needle2" src="{% static 'images/svg-meter-gauge-needle.svg' %}" alt="">
    <input id="slider2" name="special" type="range" min="0" max="100" value="0" /> 
    <h3 id="meterHead2">Specialisation</h3>
    <label id="lbl2" id="value2" for="special">0%</label>
    </div>
    <h3 id="weightageHead">Adjust the slider based on your weightage of importance</h3>
    <input type="button" name="next" class="meterNext btn" value="Next"/>
</section>
<section class="recoLoad">
  <span>Analyzing data...</span><br>
</section>  
<section class="recoResult">
  <reco-result inline-template ref="reco_result">
    <section class="resultSection">
    <h2 id="recoResultHead">We Recommend...</h2>
    <div id="pool1">
      <span>Pool 1</span>
    </div>
    <div id="pool2">
      <span>Pool 2</span>
    </div>
    <div id="postIt1">
      <span>[[firstPool1]]</span>
    </div>
    <div id="postIt1Open">
      <div id="postItDetails">
        <h2>[[firstPool1]]</h2>
        <span>Description : [[firstPool1]]</span><br>
        <span>Teacher(s) : [[firstPool1]]</span><br>
        <span>Specialization(s) : [[firstPool1]]</span><br>
        <span>Prerequisite : [[firstPool1]]</span><br>
      </div>
      <input type="button" name="back" class="back btn" value="Back"/>
    </div>
     <div id="postIt2">
      <span>[[secondPool1]]</span>
    </div>
    <div id="postIt2Open">
      <input type="button" name="back" class="back btn" value="Back"/>
    </div>
     <div id="postIt3">
      <span>[[firstPool2]]</span>
    </div>
    <div id="postIt3Open">
      <input type="button" name="back" class="back btn" value="Back"/>
    </div>
     <div id="postIt4">
      <span>[[secondPool2]]</span>
    </div>
    <div id="postIt4Open">
      <input type="button" name="back" class="back btn" value="Back"/>
    </div>
    </section>
  </reco-result>
</section>
</section>

<script src="{% static 'js/vue.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vue-resource.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'js/scrollLanding.js' %}" type="text/javascript"></script>
<script src="{% static 'js/quiz.js' %}" type="text/javascript"></script>
<script src="{% static 'js/meter.js' %}" type="text/javascript"></script>
<script src="{% static 'js/meter1.js' %}" type="text/javascript"></script>
<script src="{% static 'js/meter2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/results.js' %}" type="text/javascript"></script>
</body>
</html>

