#studentDetailsDiv{
  position: absolute;
  top:20%;
  height: 30%;
  width: 50%;
  left:30%;
  color:#000000;
  z-index: 2;
  padding-left: 2%;
  padding-right: 2%;
  display: none;
}

#options, #container{
	display: inline;
	float: left;
}

#selected>input{
	border-radius: 1.5em;
	/*background-color: #f2f2f2;*/
  background-color: #2d7ac6;
  color: #ffffff;
}

.intrOption{
  border-radius: 1.5em;
  background-color: #f2f2f2;
  color: #000000;
}

.usnDiv{
	font-size: 3em;
	top: 31%;
	color: #000000;
    transition: 0.6s;
    padding-left: 3%;
}

input[type="checkbox"]{
 zoom:2.0;
}

.next{
	margin-left: 90%;
	width: 20%;
	margin-top: 60%;
	font-size: 0.75em;
}

.next:hover{
  color: #ffffff;
}

.specNext,.interestNext{
  font-size: 1em;
}

#nextButton{
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-left: 90%;
  margin-top: 50%;
}

.text-danger{
	font-size: 0.5em;
}

#specHead{
  top:3%;
  font-size: 1.3em;
}

.specialisation{
	display: none;
	font-size: 2em;
	top: 31%;
	color: #000000;
    transition: 0.6s;
    padding-left: 3%;
}

#prevHead{
  font-size: 1.6em;
  position: absolute;
  left:12%;
}

.prevElectives{
	display: none;
	font-size: 1.5em;
	position:relative;
	top: 20%;
	color: #000000;
    transition: 0.6s;
    padding-left: 0.2%;
	width: 75%;
}

.elecHead{
  font-size:1.5em;
  position:absolute;
  left: 28%;
}

.sem5, .sem6{
	display:none;
}

.sem7{
	display:none;
}

#search{
	position: relative;
	top: 15%;
	border: solid 1px;
	border-radius: 2em;
  padding: 2% 3% 2% 3%;
  color: #000000;
}

.interests{
	display: none;
	font-size: 1.5em;
  transition: 0.6s;
  padding-left: 3%;
}

#interestContent{
  position: absolute;
  margin-top:-15%;
  color: #ffffff;
  width: 35vw;
}

.weightage{
  position: absolute;
  top:0%;
  height: 100%;
  width: 100%;
  left:0%;
  z-index: 2;
  /*padding-left: 2%;*/
  /*padding-right: 2%;*/
  display: none;
  background-image: url('../images/scale.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#weightageHead{
  position: absolute;
  left:2%;
  color: #ffffff;
  font-size: 3em;
}
